<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Bokeh Scatter Plots</title>

        <link rel="stylesheet" href="http://cdn.pydata.org/bokeh/release/bokeh-0.12.13.min.css" type="text/css" />
        <link rel="stylesheet" href="https://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.13.min.css" type="text/css">
        <script src="http://cdn.pydata.org/bokeh/release/bokeh-0.12.13.min.js"></script>
        <script src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.13.min.js"></script>
        {{ the_script|safe }}
    </head>
    <body>
        {{ the_div|safe }}
               
        <div class="col-lg-12 text-left">
          <p>
              <br>
          </p>
          <p><a href="/index">Home</a></p>
        </div>
    </body>
</html>
