<!DOCTYPE html>
<html>
  <head>
    {% block head %}
      <title>{% block title %}{% endblock %} - EOD Stock Price Plot</title>
    {% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <style type="text/css">
      .container {
        max-width: 1400px;
        padding-top: 40;
      }
    </style>
  </head>
  <body>  
  <nav class="navbar navbar-inverse" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Ticker Lookup App</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            {{ nav_link('index', 'Home') }}
            {{ nav_link('about', 'About') }}
             <li class="nav-item">
             <a class="nav-link" href="https://github.com/anahocevar/learning_flask">GitHub</a>
             </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Tools Used<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="https://www.heroku.com/">Heroku</a></li>
                <li><a href="http://flask.pocoo.org/">Flask</a></li>
                <li><a href="http://jinja.pocoo.org/docs/2.9/">Jinja2</a></li>
                <li><a href="http://getbootstrap.com/">Bootstrap</a></li>
              </ul>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>      
      

    <div class = "container container-large">
      <br>
      {% block content %}{% endblock %}
      <br>
    </div>
    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  </body>
</html>